<tr>
	<th scope="row"><%= link_to pledge.id %> </th>
	<td><%= link_to "beloning", project_path(@project) %></td>
	<td><%= number_to_currency(pledge.amount, unit: "$") %></td>
	<td><%= pledge.reward.estimated_delivery %></td>
</tr>